@import "tailwindcss";

@theme {
    --color-primary-color: var(--color-indigo-700);
}

:root {
    --background: #ffffff;
    --foreground: #171717;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
