@import "tailwindcss";

@theme {
    --color-primary-color: var(--color-indigo-700);
    --breakpoint-clg: 74rem;
}

:root {
    --background: #ffffff;
    --foreground: #171717;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.row_table {
    font-weight: var(--font-weight-medium);
    font-size: var(--text-sm);
    line-height: var(--text-sm--line-height);
    color: var(--color-gray-900);
    padding-block: calc(var(--spacing) * 4);
    padding-inline: calc(var(--spacing) * 3);
}

.active {
    @apply bg-blue-600;
}

.active_link {
    @apply flex items-center justify-center px-3 h-8 leading-tight text-white bg-blue-600 border border-gray-300 hover:bg-blue-700 hover:text-white;
}

.bg-semi-trans {
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-20px) scale(0.8);
        -webkit-transform: translateY(-20px) scale(0.8);
        -moz-transform: translateY(-20px) scale(0.8);
        -ms-transform: translateY(-20px) scale(0.8);
        -o-transform: translateY(-20px) scale(0.8);
    }
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.modal-overlay {
    animation: fadeIn 0.2s ease-out;
    -webkit-animation: fadeIn 0.2s ease-out;
}

.modal-content {
    animation: slideIn 0.2s ease-out;
    -webkit-animation: slideIn 0.2s ease-out;
}
